<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hta.lecture.mapper.BoardMapper">
	
	

	 <select id="getBoardByCriteria" parameterType="com.hta.lecture.web.form.Criteria" resultType="com.hta.lecture.dto.BoardDto">
	select 
		A.board_no					boardNo,
		A.board_category			category,
		A.board_title				title,
		A.board_content				content,
		A.board_status				Status,
		A.board_created_date		createdDate,
		A.board_update_date			updateDate,
		A.board_delete_date			deleteDate,
		A.board_like_cnt			likeCnt,
		A.board_class_title			classTitle,
		A.board_comment_cnt			commentCnt,
		B.user_name					name	
	from 
		final_board_tb A, final_user_tb B
	where 
		A.user_no = B.user_no
		
		and A.board_category = #{category}
		<if test="status != null">
		   and A.board_status = #{status}
		</if>
		<if test="search != null">
		   and (A.board_title like '%' ||  #{search} || '%')
		</if>
		<if test="sort == 'date'">
		 order by A.board_no desc
		</if>
		<if test="sort == 'like'">
		 order by A.board_like_cnt desc
		</if>
		<if test="sort == 'reply'">
		 order by A.board_comment_cnt desc
		</if>
		<!--  <if test="tags != null">
		and A.board_boardNo in (select A.board_boardNo
		             from final_tag_tb
		             where C.tag_name in (
							      <foreach index="index"  item="tag" collection="tags" separator=", ">
							         #{tag}
							      </foreach>
							     )
		)
		</if> -->
	</select>
	
	<insert id="addBoard" parameterType="com.hta.lecture.vo.Board" >
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select board_no_seq.nextval
			from dual
		</selectKey>
		insert into final_board_tb
		(board_no, board_category, board_title, board_content, board_status)
		values
		(#{no}, #{category}, #{title}, #{content}, #{status})
	</insert>
	
	<insert id="addTag" parameterType="com.hta.lecture.vo.Tag" >
		insert into final_tag_tb
		(board_no, tag_no, tag_name)
		values
		(#{boardNo}, tag_no_seq.nextval, #{tagName})
	</insert>


<!-- 
	<update id="updateBoardByCriteria" parameterType="com.hta.lecture.web.form.BoardCriteria" >
	</update>
	
	<delete id="deleteBoardByCriteria" parameterType="int">\
	
	</delete>
 -->	

</mapper>