<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hta.lecture.mapper.BoardMapper">
	
	

	 <select id="getBoardByCriteria" parameterType="com.hta.lecture.web.form.Criteria" resultType="com.hta.lecture.dto.BoardDto">
	select 
		A.board_no					boardNo,
		A.board_category			category,
		A.board_title				title,
		A.board_content				content,
		A.board_status				Status,
		A.board_created_date 		createdDate,
		A.board_update_date			updateDate,
		A.board_delete_date			deleteDate,
		A.board_like_cnt			likeCnt,
		A.board_class_title			classTitle,
		A.board_comment_cnt			commentCnt,
		B.user_name					name
		
	from 
		final_board_tb A, final_user_tb B, final_tag_tb C
	where 
		A.user_no = B.user_no
		and A.board_no = C.board_no 
		and A.board_category = #{category}
		<if test="status != null">
		   and A.board_status = #{status}
		</if>
		<if test="search != null">
		   and (A.board_title like '%' ||  #{search} || '%' or content like '%' ||  #{search} || '%')
		</if>
		<if test="tags != null">
		and A.board_no in (select A.board_no
		             from final_tag_tb
		             where C.tag_name in (
							      <foreach index="index"  item="tag" collection="tags" separator=", ">
							         #{tag}
							      </foreach>
							     )
		)
		</if> 
	</select>
	
	

	<!-- 
		List<Book> searchBooks(Criteria criteria); 메소드와 매핑되는 SQL 구문 정의
		
		<where 태그>
			+ <where> 태그안에 sql문이 포함되면 where 키워드로 변경된다.
			+ <where> 태그안에 sql문중에서 첫번째 sql문이 "and 컬럼명 = 값" 의 형태면 and를 제거한다. 
	 -->
	
	
	<!-- <select id="searchBooks" parameterType="com.sample.form.Criteria" resultType="BoardDto">
		select *
		from (
			select A.*, row_number() over (order by book_no desc) rn
			from sample_spring_books A
			<where>
				<if test="opt != null and value != null">
					<choose>
						<when test="category == '제목'">
							book_title like '%' || #{value} || '%'
						</when>
						<when test="opt == '저자'">
							book_author = #{value}
						</when>
						<when test="opt == '출판사'">
							book_publisher = #{value}
						</when>
						<when test="opt == '최소가격'">
							book_price >= to_number(#{value})
						</when>
						<when test="opt == '최대가격'">
							book_price &lt;= to_number(#{value})
						</when>
					</choose>
				</if>
			</where>			
		)
		where rn between #{beginIndex} and #{endIndex}
	</select> 
		
	
		<select id="getAllBoardByLatestOrder" parameterType="string" resultType="">
	select 
	from final_board_tb, final_user_tb, final_class_tb, final_tag_tb
	where 

		</select>
-->	
</mapper>