<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hta.lecture.mapper.ClassMapper">

	<select id="getClassDetail" parameterType="int" resultType="com.hta.lecture.vo.Classes">
		select
			class_no				as no,
			class_title				as title,
			class_content			as content,
			class_difficultly		as difficultly,
			class_image				as image,
			class_video				as video,
			class_income			as income,
			class_period			as period,
			class_price				as price,
			class_discountprice		as discountPrice,
			class_permission		as permission,
			class_filter			as filter,
			class_status			as status,
			class_application_date	as applicationDate,
			class_open_date			as openDate,
			class_updated_date		as updatedDate,
			class_deleted_date		as deletedDate,
			class_total_count		as totalCount,
			class_total_time		as totalTime,
			class_isdeleted			as isDeleted,
			teacher_no				as teacherNo,
			category_no				as categoryNo
		from
			final_class_tb
		where
			class_no = #{value}
	</select>
	
	<select id="getAllCourseInfo" parameterType="com.hta.lecture.web.form.Criteria" resultType="com.hta.lecture.dto.ClassCourseDto">
		select
			class_no 					as no,
			class_title 				as title,
			teacher_name				as name,
			class_price 				as price,
			class_discountprice 		as discountPrice,
			class_image 				as image
		from 
         (
         select 
            row_number() over (order by class_no desc) rn, 
            A.*, B.*
         from
            final_class_tb A, final_teacher_tb B
         where
			A.teacher_no = B.teacher_no and (class_title like '%' || #{value} || '%')
         )
      where
         rn between #{beginIndex} and #{endIndex}
			
	</select>
	
	<select id="getClassSearch" parameterType="com.hta.lecture.web.form.Criteria" resultType="com.hta.lecture.vo.Classes">
		select
			class_no				as no,
			class_title				as title,
			class_content			as content,
			class_difficultly		as difficultly,
			class_image				as image,
			class_video				as video,
			class_income			as income,
			class_period			as period,
			class_price				as price,
			class_discountprice		as discountPrice,
			class_permission		as permission,
			class_filter			as filter,
			class_status			as status,
			class_application_date	as applicationDate,
			class_open_date			as openDate,
			class_updated_date		as updatedDate,
			class_deleted_date		as deletedDate,
			class_total_count		as totalCount,
			class_total_time		as totalTime,
			class_isdeleted			as isDeleted,
			teacher_no				as teacherNo,
			category_no				as categoryNo
		from 
         (
         select 
            row_number() over (order by class_no desc) rn, 
            A.*
         from
            final_class_tb A
         <where>
            <if test="value != null">
				class_title like '%' || #{value} || '%'
            </if>
         </where>
         )
      where
         rn between #{beginIndex} and #{endIndex}
	</select>
	
	<select id="getClassesTotalRows" parameterType="com.hta.lecture.web.form.Criteria" resultType="int">
		select count(*)
		from final_class_tb
		<where>
			<if test="value != null">
				class_title like '%' || #{value} || '%'
			</if>
		</where>			
	</select>
	
	<!-- 카테고리 분류는 가능하지만, 이걸 가지고 어떻게 category분류 navbar링크에 대입할지..
	<select id="getClassCategoryByNo" parameterType="int" resultType="com.hta.lecture.Category">
		select
		    level as lvl,
		    category_no,
		    LPAD('  ',3 * (level - 1)) || category_no 카테고리번호,
		    category_name,
		    substr(sys_connect_by_path(category_name, '>'), 2) category_path,
		    category_par_no
		from final_category_tb
		start with category_par_no is null
		connect by prior category_no = category_par_no
		order by category_no asc;
	</select>
	 -->
	
	
	
	
	
	
	<!-- 
		(select class_no, count(*) cnt
		from final_progress_tb
		group by class_no) S,
		(select class_no, ceil(AVG(review_grade)) cnt
		from final_review_tb
		group by class_no) R,
		(select class_no, count(*) cnt
		from final_review_tb
		group by class_no) RC
	 -->
</mapper>