<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hta.lecture.mapper.CouponMapper">

	<select id="getCoupon" parameterType="int" resultType="com.hta.lecture.vo.Coupon">
		select
			coupon_no					couponNo
			,coupon_name				name
			,coupon_discount_rate		discountRate
			,coupon_discount_price		discountPrice
			,coupon_use_period			period
		from
			final_coupon_tb
		where
			coupon_no = #{value}	
	</select>

</mapper>