<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hta.lecture.mapper.PaymentMapper">

<insert id="insertPayment" parameterType="com.hta.lecture.vo.Payment">
 insert into final_payment_tb
 (order_no, payment_method, payment_item_name, payment_paycode)
 values
 (#{orderNo},#{payMathod},#{paymentClassName}, #{payCode} )
</insert>

<delete id="deletePaymentByOrderNo">
</delete>

<update id="updatePayment">
</update>

<select id="paymentList">
</select>

</mapper>
